<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div class="container">
        <div class="top-bar">

        </div>
        <div class="body">

            <div class="inputs">
                <p id="total">Total Calories: 0</p>
                <input id="food" type="text" placeholder="Food Name">
                <input id="cals" type="text" placeholder="Calories">

                <br> <br>
                <button id="add">+</button>
                <br><br>
            </div>
            <div class="food-container">
                <div class="food-items" id="div">
                </div>
            </div>
        </div>
    </div>


    <script>

        const add = document.getElementById(`add`)
        const cals = document.getElementById(`cals`)
        const food = document.getElementById(`food`)
        const total = document.getElementById(`total`)
        let totalCals = 0;

        const addFood = () => {
            const foodValue = food.value;
            const calsValue = parseInt(cals.value);

            if (!calsValue || isNaN(calsValue)) {
                alert(`Please Enter a calorie Value`)
            }

            if (!foodValue) {
                foodValue = `Food`
            }

            totalCals += calsValue;
            const div = document.createElement(`div`);
            div.innerHTML = `<p class='list-group-p'>${foodValue} - ${calsValue} Calories</p>`;
            div.className = `list-group-div`
            document.getElementById('div').appendChild(div);
            total.innerHTML = `Total Calories: ${totalCals}`;
            food.value = ``;
            cals.value = ``;

        }

        add.addEventListener(`click`, addFood);

    </script>
</body>
</html>